
/* Generals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}

/* Header, Time, Right & Wrong Answers */
header {
    position: fixed;
    display: inline-flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: rgba(92, 5, 86, 0.35);
    border-radius: 25px;
    margin-top: 25px;
    transition: top 0.3s;
    text-align: center;
}

#time {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    width: 90%;
    top: 100px;
    transition: top 0.3s;   
}

#counter {
    position: fixed;
    left: 75px;
}

#wanswer {
    margin: 15px;
    padding: 7px;
    background-color: rgba(201, 13, 13, 0.75);
    color: white;
    border-radius: 15px;
} 

#ranswer {
    margin: 15px;
    padding: 7px;
    background-color: rgba(82, 236, 95, 0.75);
    border-radius: 15px;
} 

/* Containers */
#container {
    position: relative;
    margin: 165px;
    width: 50%;
    min-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    text-align: center;
    font-weight: 400;
   
}

.questioncontainer {
    position: relative;
    margin: 175px;
    width: 50%;
    min-width: 255px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 35px;
}

.questioncontainer ul {
    margin-top: 25px;
    list-style: none;
}

.questioncontainer li {
    padding: 15px;
    background-color: rgba(137, 43, 226, 0.47);
    border-radius: 25px;
    margin: 10px;
    text-align: left;
}

.questioncontainer li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.questioncontainer li.right:active {
    background-color: rgba(82, 236, 95, 0.75);
}

.questioncontainer li.wrong:active {
    background-color: rgba(201, 13, 13, 0.75);
}

#scorecontainer {
    position: relative;
    margin: 165px;
    width: 50%;
    min-width: 255px;
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}

#highscorecontainer {
    position: relative;
    top: 165px;
    margin: 25px;
    width: 240px;
    display: none;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
    font-weight: 400;
}

/* Buttons, Forms and Lists */
#start {
    border-style: none;
    border-radius: 15px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 21px;
    font-family: 'Segoe UI';
    color: white;
    font-weight: 600;
    background-color: rgba(236, 82, 210, 0.75);  
    cursor: pointer;
}

.buttonstyle1 {
    border-style: none;
    border-radius: 15px;
    padding: 12px;
    margin: 12px;
    font-size: 21px;
    font-family: 'Segoe UI';
    color: white;
    font-weight: 600;
    background-color: rgba(82, 192, 236, 0.75);  
    cursor: pointer;
}

.buttonstyle1:hover, #highscorebttn:hover, #homebttn:hover, #start:hover, #gobackbttn:hover, #clearbttn:hover {
    transform: scale(1.1);
}

#initials {
    border-style: none;
    border-radius: 15px;
    padding: 12px;
    margin: 20px;
    font-size: 21px;
    font-family: 'Segoe UI';
    color: white;
    font-weight: 600;
    background-color: rgba(144, 169, 179, 0.75);  
    cursor: pointer;
}

#scoreList{
    list-style-type: none;
    width:100%;
    text-align: center;
}

#scoreList li{
    padding-left: 12px;
    margin: 7px;
    background-color:rgba(144, 169, 179, 0.75); 
    color: black;
    border-radius: 15px;
    font-weight: 600;
}

